@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&family=Nunito:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --font-rounded: "Fredoka", sans-serif;
  --font-nunito: "Nunito", sans-serif;
}

/* Fix for Leaflet marker icon paths in production */
.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon.png);
}

/* Hide scrollbars for Chrome, Safari, Opera, Edge, Firefox, etc. */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
